$fonts: "Roboto", Arial, sans-serif !default;

$primary: #ea9215 !default;
$secondary: #1d3ed1 !default;
$app-white: rgba(rgb(240, 245, 245), 0.8);
$app-white-fallback: #fff;
$app-black: rgba(rgb(46, 44, 44), 0.8);
$app-black-fallback: #000;
$font-primary: $fonts;
$font-size: 16px !default;
