$fonts: "Roboto", Arial, sans-serif !default;

$primary: #ea9215 !default;
$secondary: #1d3ed1 !default;
$app-white: rgba(rgb(240, 245, 245), 0.8);
$app-white-fallback: rgb(240, 245, 245);
$app-black: rgba(rgb(46, 44, 44), 0.8);
$app-black-fallback: rgb(46, 44, 44);
$font-primary: $fonts;
$font-size: 16px !default;
$container-margin: 2rem; //from both sides
$bars-background-color: rgb(199, 136, 54);
$navbar-background-color: lighten($bars-background-color, 30%);
$nav-link-color: darken($bars-background-color, 40%);
$active-link-color: rgb(49, 133, 60);
//break points for responsive layouts in pixel
$breakpoint-xs: 0;
$breakpoint-sm: 576;
$breakpoint-md: 768;
$breakpoint-lg: 992;
$breakpoint-xl: 1200;

//class prefix for the project
//make sure $prefix has same value with classPrefix export in 'utils/class-prefix.js'
$prefix: "adsp-01__";

@function pixelToRem($pixelValue) {
  @return $pixelValue/16 * 1rem;
}

@function adjust($oldValue, $percentage) {
  @return $oldValue * $percentage / 100;
}
@mixin flex-column($horizontal, $vertical) {
  display: flex;
  flex-direction: column;
  justify-content: $vertical;
  align-items: $horizontal;
}
