@use './reset';
@import "./library";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

// adsp-01 class prefix for the project
* {
  margin: 0;
  padding: 0;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-size: $font-size;
}

body {
  font-family: $font-primary;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.7;
  color: $app-black-fallback;
  color: $app-black;
  background: $app-white-fallback;
  background: $app-white;
}

h1 {
  font-weight: 400;
  font-size: 2.5rem;
  margin: pixelToRem(20) 0;
}
h2 {
  font-weight: 400;
  font-size: 1.7rem;
  margin: pixelToRem(20) 0;
}

a {
  text-decoration: none;
  color: $nav-link-color;
  transition: all 0.3s ease;
  &:active,
  &link {
    color: $nav-link-color;
  }
  &:hover {
    color: lighten($active-link-color, 5%);
  }
}
/*
we use a prefix unique to our project to make sure the class names would not clash with other class names to be added later with third party libraries such as bootstrap or material ui

!!!In order to change the class prefix, modify both 'src/utils/class-prefix.js' and 'src/styles/_library.scss'!!!
usage: '.#{$prefix}<className>'
*/

.#{$prefix}main {
  display: block;
  margin: 0;
}

.#{$prefix}app-container {
  display: block;
  margin: auto;
  max-width: pixelToRem($breakpoint-xl)-$container-margin;
  padding: 10px 0;
}
