@import "./library";

.#{$prefix}units {
  @include flex-column(flex-start, flex-start);
  //height: 500px;
  padding: 0 50px;
  width: 100%;

  h1 {
    align-self: center;
  }

  .#{$prefix}data-container {
    align-self: center;
  }
}
